# Ignore vagrant dir
.vagrant/**

# Ignore terragrunt caches
terraform/**/.terragrunt-cache/**

# Ignore JSON files in build
build/*.json

# Ignore all build artifacts
site/build/**

# Ignore subdirectories for builds
build/sphinxbuild_*/
build/branches/**
build/archive/**
