# Ignore vagrant dir
.vagrant/**

# Ignore terragrunt caches
terraform/**/.terragrunt-cache/**

# Ignore all build artifacts
site/build/**

# Ignore subdirectories for builds
build/sphinxbuild_*/
build/branches/**
build/archive/**

# Ignore sensitive data in builds;
# these a re stored in .evn and in JSON
# files
build/.env
build/**.json

# Ignore pycache
**/__pycache__/**